.outerContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.innerContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figma-light .loadingContainer {
  background: rgba(236,225,255,0.7);
}

.figma-dark .loadingContainer {
  background: rgba(236,225,255,0.2);
}

.loadingContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(0px);
  transition: all 0.24s ease-out;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.loadingContainer.isVisible {
  backdrop-filter: blur(10px);
  opacity: 1;
}
